.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.67;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.link {
  display: block;
  text-decoration: none;
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #FF6C00;
}

.pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #303030;
}

.pre-title::before {
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  color: #303030;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
  }
}

.after-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
  color: #555555;
}

@media screen and (min-width: 1200px) {
  .after-title {
    font-size: 18px;
    line-height: 1.67;
  }
}

.header-logo {
  margin-left: 31px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-logo--black {
    display: none;
  }
}

.header-wrap {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  left: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .header-wrap {
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .header-wrap {
    position: absolute;
  }
}

.header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__button {
  display: block;
  position: relative;
  top: 0;
  right: 31px;
  z-index: 80;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-menu__button {
    display: none;
  }
}

.header-menu__icon--open {
  display: block;
  fill: #FFFFFF;
}

.header-menu__icon--close {
  display: none;
}

.header-menu__button.is-open .header-menu__icon--open {
  display: none;
}

.header-menu__button.is-open .header-menu__icon--close {
  display: block;
  position: fixed;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 347px;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 118px;
    padding-bottom: 228px;
    padding-left: 49px;
    padding-right: 103px;
    z-index: 7;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.header-nav {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.header-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    display: none;
  }
}

.header-nav__link:hover, .header-nav__link:focus {
  color: #FF6C00;
}

.header-nav__button {
  color: #303030;
}

.header-nav__button:hover, .header-nav__button:focus {
  color: #FFFFFF;
}

.header-contact {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 24px;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover, .header-contact:focus {
  color: #FF6C00;
}

@media screen and (min-width: 768px) {
  .header-contact {
    display: none;
  }
}

.mobile-social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-social-wrap::before {
  position: relative;
  top: 8px;
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  background: #303030;
}

.mobile-social {
  position: relative;
}

.mobile-social__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-social__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.auth-wrap {
  margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
  .navigation-section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-section {
    margin-left: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-section {
    margin-right: 300px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.navigation-section__item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 1200px) {
  .navigation-section__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-section__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-section__link:hover, .navigation-section__link:focus {
    color: #FF6C00;
  }
}

@media screen and (max-width: 1199px) {
  .navigation-section__button {
    margin-bottom: 20px;
  }
}

.navigation-section__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation-section__contact:hover, .navigation-section__contact:focus {
    color: #FF6C00;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-section__contact {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .tel-wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tel-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .tel-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-section__pre-title::before {
  background: rgba(157, 164, 189, 0.6);
}

@media screen and (min-width: 768px) {
  .hero-section__pre-title::before {
    width: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__pre-title::before {
    width: 63px;
  }
}

.hero-section__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-section__after-title {
  padding-bottom: 0;
  color: #9DA4BD;
}

@media screen and (max-width: 767px) {
  .hero-section__after-title {
    max-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__after-title {
    width: 400px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.hero-content {
  height: 580px;
}

@media screen and (max-width: 767px) {
  .hero-content {
    padding-top: 208px;
    padding-bottom: 183px;
    padding-left: 31px;
    max-width: 100%;
    height: 580px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/mobile_hero.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/mobile_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/mobile_hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/mobile_hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    padding-left: 70px;
    padding-top: 280px;
    padding-right: 157px;
    max-width: 100%;
    height: 680px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/tablet_hero.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/tablet_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/tablet_hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/tablet_hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    padding-left: 96px;
    padding-top: 272px;
    padding-right: 206px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/desktop_hero.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/desktop_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/desktop_hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/desktop_hero@2x.jpg);
  }
}

.socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 114px;
    padding-left: 24px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .socials {
    width: 93px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translate(-19px);
          transform: rotate(-90deg) translate(-19px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@media screen and (max-width: 767px) {
  .social-list {
    display: none;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}

.social-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: #303030;
}

.social-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.social-list__link:hover, .social-list__link:focus {
  color: #FF6C00;
}

.about-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-section__pictures {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-section__pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .about-section__pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 767px) {
  .about-section__content {
    width: 50%;
    margin-left: 30px;
  }
}

.about-section__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  padding-bottom: 40px;
  color: #555555;
}

.about-section__button {
  color: #303030;
}

.about-section__button:hover, .about-section__button:focus {
  color: #FFFFFF;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .about-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .about-image__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .prices {
    background-image: url(../image/prices-mobile.png), -webkit-gradient(linear, left top, right top, from(#111319), to(#111319));
    background-image: url(../image/prices-mobile.png), linear-gradient(to right, #111319, #111319);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../image/prices-mobile@2x.png), -webkit-gradient(linear, left top, right top, from(#111319), to(#111319));
    background-image: url(../image/prices-mobile@2x.png), linear-gradient(to right, #111319, #111319);
  }
}

@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../image/prices-tablet.png), -webkit-gradient(linear, left top, right top, from(#111319), to(#111319));
    background-image: url(../image/prices-tablet.png), linear-gradient(to right, #111319, #111319);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../image/prices-tablet@2x.png), -webkit-gradient(linear, left top, right top, from(#111319), to(#111319));
    background-image: url(../image/prices-tablet@2x.png), linear-gradient(to right, #111319, #111319);
  }
}

@media screen and (min-width: 1170px) {
  .prices {
    background-image: url(../image/prices-desktop.png), -webkit-gradient(linear, left top, right top, from(#111319), to(#111319));
    background-image: url(../image/prices-desktop.png), linear-gradient(to right, #111319, #111319);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 1170px) and (min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (min-resolution: 192dpi), screen and (min-width: 1170px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../image/prices-desktop@2x.png), -webkit-gradient(linear, left top, right top, from(#111319), to(#111319));
    background-image: url(../image/prices-desktop@2x.png), linear-gradient(to right, #111319, #111319);
  }
}

.prices-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.prices-section__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-section__pre-title::before {
  background: rgba(157, 164, 189, 0.6);
}

.prices-section__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #FFFFFF;
}

.price-list {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .price-list {
    padding: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .price-list--light {
    padding: 30px 40px;
    width: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list--dark {
    padding: 30px 40px;
    width: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.price-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list__item::before {
  content: '';
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 6px;
  margin-left: 6px;
  background: rgba(157, 164, 189, 0.12);
}

.price-list__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.features-section__pre-title {
  margin-bottom: 29px;
  padding-bottom: 0;
}

.features-section__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
}

.features-section__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
  color: #555555;
}

@media screen and (min-width: 1200px) {
  .features-section__after-title {
    width: 500px;
  }
}

@media screen and (max-width: 1199px) {
  .features-content {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .features-content {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 480px) {
  .features-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .features-wrap {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .features-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.features-wrap--left {
  margin-right: 30px;
}

.features-wrap--right {
  padding-top: 30px;
}

.features-list {
  display: block;
  width: 198px;
  height: 133px;
  padding: 20px 32px;
  background: #F7F7F7;
}

@media screen and (min-width: 768px) {
  .features-list {
    width: 210px;
  }
}

.features-list:not(:nth-child(2n)) {
  margin-bottom: 30px;
}

.features-list__item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.features-list__item--value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: #303030;
}

.features-list__item--value::after {
  content: '';
  width: 13px;
  height: 22px;
  margin-top: 8px;
  margin-left: 2px;
  background-image: url(../image/+.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.masters {
  background: #F7F7F7;
}

.masters-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.masters-section__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #303030;
}

@media screen and (min-width: 768px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .masters-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .masters-list__item {
    margin: 15px;
    width: calc((100% - 15px * 6) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .masters-list__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters-list__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 30px;
  margin-bottom: 8px;
  color: #303030;
}

.masters-list__after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: #FF6C00;
}

.masters-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.masters-socials__item:not(:last-child) {
  margin-right: 10px;
}

.masters-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.masters-socials__icon {
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-socials__link:hover .masters-socials__icon,
.masters-socials__link:focus .masters-socials__icon {
  fill: #FF6C00;
}

.examples-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.examples-section__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 1.91;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .examples-list__item {
    margin: 15px;
    width: calc((100% - 15px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .examples-list__item {
    margin: 15px;
    width: calc((100% - 15px * 8) / 4);
  }
}

@media screen and (max-width: 767px) {
  .examples-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.online-wrap {
  margin: 0 auto;
  max-width: 1280px;
  background: #191C26;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .online-wrap {
    background-image: url(../image/contact-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .online-wrap {
    background-image: url(../image/contact-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .online-wrap {
    background-image: url(../image/contact-tablet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .online-wrap {
    background-image: url(../image/contact-tablet@2x.png);
  }
}

@media screen and (min-width: 1170px) {
  .online-wrap {
    background-image: url(../image/contact-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}

@media screen and (min-width: 1170px) and (min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (min-resolution: 192dpi), screen and (min-width: 1170px) and (min-resolution: 2dppx) {
  .online-wrap {
    background-image: url(../image/contact-desktop@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .online {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.online-section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 1200px) {
  .online-section {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 52%;
  }
}

.online-section__form {
  position: relative;
}

.online-section__title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .online-section__title {
    text-align: left;
  }
}

.online-section__label {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-section__label:focus-within {
  color: #FFFFFF;
}

.online-section__label:focus-within span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.online-section__label span {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-section__input {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  padding-left: 4px;
  margin-bottom: 44px;
  color: #FFFFFF;
  -webkit-transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-section__input:focus-within span,
.online-section__input:not(:placeholder-shown) + span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media screen and (min-width: 768px) {
  .online-section__input:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .online-section__input {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .online-section__input {
    width: 270px;
  }
}

.online-section__label:focus-within > .online-section__input {
  border-bottom: 1px solid #FFFFFF;
}

.online-section__message {
  display: block;
  width: 100%;
  height: 76px;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.online-section__message:focus-within span,
.online-section__message:not(:placeholder-shown) + span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media screen and (min-width: 1200px) {
  .online-section__message {
    width: 570px;
  }
}

.online-input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .online-input__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .form-button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contacts-wrap {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .contacts-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-wrap {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__wrap:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-section__title {
  margin-bottom: 40px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .contacts-section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contacts-section__after-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 44px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .contacts-section__after-title {
    margin-top: 0;
  }
}

.contacts-section__after-title::before {
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: rgba(157, 164, 189, 0.4);
}

.contacts-section__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact-section__wrap--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .address-list {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    margin-bottom: 70px;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.address-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.address-list__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration: underline;
  color: #9DA4BD;
}

.address-list__icon {
  margin-right: 20px;
}

.footer-section {
  padding-top: 44px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 0;
  }
}

.footer-soc::before {
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  background: #303030;
  margin-right: 40px;
}

.footer-soc__list:not(:last-child) {
  margin-right: 40px;
}

.footer-soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc__link:hover, .footer-soc__link:focus {
  color: #FF6C00;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}
/*# sourceMappingURL=main.css.map */