.about-section {
  padding-top: 84px;
  padding-bottom: 84px;

  &__pre-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 20px;

    color: $black-title-color;

    &::before {
      display: block;
      content: '';
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background-color: $black-title-color;
    }
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    width: 330px;
    padding-bottom: 20px;

    color: $black-title-color;
  }

  &__after-title {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    padding-bottom: 20px;

    color: $dark-text-color;
  }

  &__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    padding-bottom: 40px;

    color: $dark-text-color;
  }

  &__button {
    width: 160px;
    height: 40px;
    border: 1px solid $accent-color;
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    color: $black-title-color;
    cursor: pointer;
  }
}

.about-section__pictures {
  display: none;
}