h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.67;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.link {
  display: block;
  text-decoration: none;
  padding: 0;
}

// .button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 160px;
//   height: 40px;
//   border: 1px solid $accent-color;
//   border-radius: 25px;

//   font-weight: 600;
//   font-size: 12px;
//   line-height: 1.33;
//   letter-spacing: 0.09em;
//   text-transform: uppercase;
//   background-color: transparent;
//   color: $white-title-color;
//   cursor: pointer;
// }