.contacts-wrap {
  @include padding(84px, 84px);

  @media screen and (min-width: 768px) {
    @include padding(100px, 100px);
  }

  @media screen and (min-width: 1200px) {
    @include padding(130px, 130px);
    padding-left: 100px;
  }
}

.contacts-section {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    width: 370px;
  }

  &__wrap:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }

  &__title {
    margin-bottom: 40px;
    color: $white-title-color;

    @media screen and (min-width: 768px) {
      @include flex(flex, flex-start);
    }
  }

  &__after-title {
    @include flex(flex, center);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 44px;
    margin-bottom: 20px;

    color: $white-title-color;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

    &::before {
      display: block;
      content: '';
      width: 60px;
      height: 1px;
      margin-right: 20px;

      background: rgba(157, 164, 189, 0.4);
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: $light-text-color;
  }
}

.contact-section__wrap--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-list {
  @media screen and (min-width: 768px) {
    width: 80%;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    @include flex(flex, center);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: #9DA4BD;
  }

  &__contact {
    @include flex(flex, center);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: #9DA4BD;
  }

  &__icon {
    margin-right: 20px;
  }
}