.examples-section {
  @include padding(84px, 84px);

  &__pre-title {
    @include flex(flex, baseline);
    line-height: 1.91;
    margin-bottom: 44px;
  }
}

.examples-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 15px * 4) / 2);
    }

    @media screen and (min-width: 1200px) {
      margin: 15px;
      width: calc((100% - 15px * 8) / 4);
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
}