.features-section {
  padding-top: 84px;
  padding-bottom: 84px;

  &__pre-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 29px;

    color: $black-title-color;

    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      margin-right: 20px;

      background: $black-title-color;
    }
  }

  &__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

    color: $black-title-color;
  }

  &__after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    margin-bottom: 44px;

    color: $dark-text-color;
  }
}

.features-content {
  @media screen and (min-width: 768px) {
    width: 500px;
  }
}

.features-wrap {
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }

  &--left {
    margin-right: 30px;
  }

  &--right {
    padding-top: 30px;
  }
}

.features-list {
  display: block;
  width: 198px;
  height: 133px;
  padding: 20px 32px;

  background: #F7F7F7;

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  &:not(:nth-child(2n)) {
    margin-bottom: 30px;
  }

  &__item {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: #303030;

  }

  &__item--value {
    display: flex;
    justify-content: center;
    // position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 6px;

    color: #303030;

    &::after {
      // position: absolute;
      // right: 0;
      // top: 0;
      content: '';
      width: 13px;
      height: 22px;
      margin-top: 8px;
      margin-left: 2px;
      background-image: url(../../image/+.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}