.footer-section {
  padding-top: 44px;
  padding-bottom: 44px;
}

.footer-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-soc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background: $black-title-color;
    margin-right: 40px;
  }

  &__list:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: $black-title-color;
    transition: color 300ms linear;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: $light-text-color;
}