.header-wrap {
  width: 100%;
  @include padding(32px, 32px);
  left: 0;
  top: 0;

  @media screen and (max-width: 767px) {
    position: absolute;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
  }
}

.header-menu {
  position: relative;
  @include flex(flex, center);
  justify-content: space-between;

  &__button {
    display: block;
    position: relative;
    top: 0;
    right: 31px;
    z-index: 80;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__icon--open {
    display: block;
    fill: $white-title-color;
  }

  &__icon--close {
    display: none
  }
}

.header-menu__button.is-open .header-menu__icon--open {
  display: none;
}

.header-menu__button.is-open .header-menu__icon--close {
  display: block;
  position: fixed;
}


.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 347px;
    height: 100%;
    background-color: $white-title-color;
    @include padding(118px, 228px);
    padding-left: 49px;
    padding-right: 103px;
    z-index: 7;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-nav {
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: $black-title-color;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__button {
    color: $black-title-color;

    &:hover,
    &:focus {
      color: $white-title-color;
    }
  }
}

.header-contact {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $black-title-color;
  margin-bottom: 24px;

  @include transitioned(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-social-wrap {
  display: flex;
  justify-content: space-between;

  &::before {
    position: relative;
    top: 8px;
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background: #303030;
  }
}

.mobile-social {
  position: relative;

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: $black-title-color;
  }
}

.auth-wrap {
  margin-bottom: 64px;
}