.hero-section {
  display: flex;

  @media screen and (max-width: 767px) {
    padding-top: 208px;
    padding-bottom: 183px;
    padding-left: 31px;
    // margin: 0 auto;
    max-width: 100%;
    height: 580px;
    background-image: linear-gradient(to right,
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)),
      url(../../image/mobile_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    flex-grow: 1;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)),
        url(../../image/mobile_hero@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      min-width: 576px;
      height: 680px;
      background-image: linear-gradient(to right,
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)),
        url(../../image/tablet_hero.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)),
          url(../../image/tablet_hero@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1073px;
    height: 680px;
    background-image: linear-gradient(to right,
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)),
      url(../../image/desktop_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)),
        url(../../image/desktop_hero@2x.jpg);
    }
  }

  &__pre-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: rgba(157, 164, 189, 0.6);

    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      margin-right: 20px;

      background: rgba(157, 164, 189, 0.6);
    }
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

    color: $white-title-color;
  }

  &__after-title {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    width: 306px;

    color: $light-text-color;
  }
}

// .hero-content {
// padding-top: 208px;
// padding-bottom: 183px;
// padding-left: 31px;
// // margin: 0 auto;
// max-width: 480px;
// height: 580px;
// background-image: linear-gradient(to right,
//     rgba(25, 28, 38, 0.2),
//     rgba(25, 28, 38, 0.2)),
//   url(../../image/mobile_hero.jpg);
// background-size: cover;
// background-repeat: no-repeat;
// background-position: center;
// flex-grow: 1;

// @media (min-device-pixel-ratio: 2),
// (min-resolution: 192dpi),
// (min-resolution: 2dppx) {
//   background-image: linear-gradient(to right,
//       rgba(25, 28, 38, 0.2),
//       rgba(25, 28, 38, 0.2)),
//     url(../../image/mobile_hero@2x.jpg);
// }

//   @media screen and (min-width: 768px) {
//     // margin-left: 28px;
//     margin-right: 0;
//     max-width: 577px;
//     height: 680px;
//     background-image: linear-gradient(to right,
//         rgba(25, 28, 38, 0.2),
//         rgba(25, 28, 38, 0.2)),
//       url(../../image/tablet_hero.jpg);
//     background-size: cover;

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//       background-image: linear-gradient(to right,
//           rgba(25, 28, 38, 0.2),
//           rgba(25, 28, 38, 0.2)),
//         url(../../image/tablet_hero@2x.jpg);
//     }
//   }
// }

// .socials {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     align-items: flex-end;
//     width: 114px;
//     padding-left: 24px;
//     padding-bottom: 40px;
//   }
// }

.social-list {
  display: none;
}

// .social-list {
//   display: flex;
//   transform: rotate(-90deg) translate(-19px);
//   transform-origin: top left;
//   align-items: center;
//   // padding-top: 35px;
//   // padding-bottom: 36px;

//   &__item:not(:last-child) {
//     margin-right: 40px;
//   }

//   &::before {
//     content: '';
//     display: block;
//     width: 60px;
//     height: 1px;
//     margin-right: 40px;

//     background: #303030;
//   }
// }