.prices {
  @media screen and (max-width: 767px) {
    background-image: url(../image/prices-mobile.png), linear-gradient(to right,
        #111319,
        #111319);
    @include backgroud(cover, no-repeat, center);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../image/prices-mobile@2x.png),
        linear-gradient(to right,
          #111319,
          #111319);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(../image/prices-tablet.png), linear-gradient(to right,
        #111319,
        #111319);
    @include backgroud(cover, no-repeat, center);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../image/prices-tablet@2x.png),
        linear-gradient(to right,
          #111319,
          #111319);
    }
  }

  @media screen and (min-width: 1170px) {
    background-image: url(../image/prices-desktop.png),
      linear-gradient(to right,
        #111319,
        #111319);
    @include backgroud(cover, no-repeat, center);
    flex-grow: 1;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../image/prices-desktop@2x.png),
        linear-gradient(to right,
          #111319,
          #111319);
    }
  }
}

.prices-section {
  @include padding(84px, 84px);

  &__pre-title {
    color: rgba(157, 164, 189, 0.6);

    &::before {
      background: rgba(157, 164, 189, 0.6);
    }
  }

  &__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-bottom: 44px;

    color: $white-title-color;
  }
}

.price-list {
  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    padding: 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }

  &--light {
    @media screen and (min-width: 1200px) {
      padding: 30px 40px;
      width: 50%;
      background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
  }

  &--dark {
    @media screen and (min-width: 1200px) {
      padding: 30px 40px;
      width: 50%;
      background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
  }

  &__item {
    @include flex(flex, baseline);
    justify-content: space-between;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.02em;

    color: $light-text-color;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      height: 1px;
      flex-grow: 1;
      margin-right: 6px;
      margin-left: 6px;
      background: rgba(157, 164, 189, 0.12);
    }
  }

  &__text:first-child {
    order: -1;
  }
}

.button-wrap {
  @include flex(flex, center);
  justify-content: center;
}